.fullpage-date-wrapper {
    color: #002e5d;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
    display: flex;
}
.fullpage-date-weekday {
    text-transform: uppercase;
    font-family: "Sentinel A", "Sentinel B", "Vitesse A", "Vitesse B", sans-serif;
}
.fullpage-date-text {
    padding-left: 10px;
    font-family: "Sentinel A", "Sentinel B", "Vitesse A", "Vitesse B", sans-serif;
}